{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
 
 
{% block page_javascript %}
 
    {% render_bundle 'lobby' %}
 
{% endblock %}
 
{% block main_content %}
<!-- <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script> -->

<!-- Load our React component. -->
<!-- <script src="LobbyBase.jsx"></script> -->


    <h3>Let's Ride the Bus, <span class="text-primary" >{{request.user.username}}</span>!</h3>
    <hr>
    <div id="lobby_component"></div>
  
{% endblock %}