{
  "plugins": [
    ["styled-components", { "ssr": true, "displayName": true, "preprocess": false } ],
    [
      "module-resolver",
      {
        "alias": {
          "@env": "./environment.ts",
          "@components": "./components",
          "@contexts": "./contexts",
          "@forms": "./forms",
          "@themes": "./themes",
          "@types": "./types",
          "@utils": "./utils"
        }
      }
    ]
  ],
  "presets": ["next/babel"]
}